.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.rating-good {
    color: green;
    margin-right: 5px;
}

.rating-neutral {
    color: darkorange;
    margin-right: 5px;
}

.rating-bad {
    color: red;
    margin-right: 5px;
}

.star-hover {
    color: gold;
}

.user-rating {
    margin-top: 8px;
    margin-bottom: 8px;
}

.user-rating ul li {
    float: left;
    font-size: 24px;
    margin-left: 2px;
    margin-right: 2px;
}

.user-rating ul li i.glyphicon-star.active {
    color: gold;
}

.angular-input-stars {
    display: inline-block;
    padding: 0;
    list-style: none;
}

button.enable-rating-button {
    float: right;
}

button.rate-button {
    float: right;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: 2px;
}

div.station-info {
    margin-top: 5px;
    margin-bottom: 5px;
}