<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transport Hotspots Webapp</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,500italic" />
    <link rel="stylesheet" type="text/css" href="resources/css/main.css"/>

    <script type="application/javascript" src="resources/js/generated/angularjs-bundle.js"></script>
    <script type="application/javascript" src="resources/js/transporthotspots-app.js"></script>
    <script type="application/javascript" src="resources/js/transporthotspots-controllers.js"></script>
</head>
<body ng-app="transportHotspotsApp" ng-controller="searchController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img class="logo" src="resources/img/logo.png" alt="Transport Hotspots logo"></img>
        <h3 class="brand">Transport Hotspots</h3>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Find Your Own Route!</h4>
        </div>
    </div>

    <!-- Search Form -->
    <div class="row">
        <div class="col-md-12">

            <form role="form" name="searchForm" class="container" novalidate ng-submit="searchForm.$valid && search()">

                <div class="row">

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Travel From:</label>
                            <select class="form-control" ng-model="selectedFromLocation" required>
                                <option ng-repeat="(key, value) in fromLocations" value="{{key}}">{{value}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Travel To:</label>
                            <select class="form-control" ng-model="selectedToLocation" required>
                                <option ng-repeat="(key, value) in toLocations" value="{{key}}">{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary col-center-block col-xs-12" ng-click="reset()">
                            <span class="glyphicon glyphicon-retweet"></span>&nbsp;Reset
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary col-center-block col-xs-12">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Routes Results -->
    <div class="row">
        <div class="col-md-12">
            <h4 ng-if="routes !== undefined">Recommended Route:</h4>

            <div ng-repeat="(key, value) in routes">
                <div class="row">
                    <div class="col-md-12 station-info">
                        <span class="glyphicon glyphicon-fire" ng-class="{
                            'rating-good': value.rating == 3,
                            'rating-neutral': value.rating == 2,
                            'rating-bad': value.rating == 1}"></span>
                        <label for="rate-{{value.stationId}}">{{value.name}}</label>
                        <button id="rate-{{value.stationId}}" type="button" title="Vote" class="btn-xs btn-info enable-rating-button"
                                ng-if="value.enableVoting"
                                ng-click="toggleVoting(value.stationId)">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 user-rating" ng-if="enableVoting(value.stationId)">
                        <div class="col-xs-10 col-center-block">
                            <small class="rating-label">Squish&nbsp;</small>
                            <div class="input-stars-wrapper">
                                <input-stars max="5"
                                             ng-model="value.currentUserRating"
                                             icon-base="glyphicon glyphicon-star star-base"
                                             icon-hover="star-hover"
                                             icon-full="star-hover"
                                             icon-empty="glyphicon-star-empty">
                                </input-stars>
                            </div>
                            <small class="rating-label">Chill&nbsp;</small>
                        </div>
                        <button type="button" title="Submit rating"
                                class="btn-xs btn-info rate-button"
                                ng-click="submitRating(value.stationId, value)">
                            Rate
                        </button>
                    </div>
                </div>
                <div class="row" ng-if="!$last">
                    <div class="col-xs-offset-1 route-direction" style="font-size: 24px">
                        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
                        <span ng-if="value.transit !== undefined" class="transit-text">#{{value.transit.transitOrder}}&nbsp;Transit to {{value.transit.transitTo}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>